{
	"version": 23,
	"resolution": "1920x1080",
	"displayMode": 0,
	"vsync": false,
	"aspectRatio": "",
	"fOV": 100,
	"showStats": false,
	"showClock": false,
	"fps": 200,
	"gamma": 2.20,
	"contrast": 0,
	"brightness": 0,
	"colourBlindMode": 0,
	"displayIndex": 1,
	"useForwardRenderer": true,
	"textureQuality": 0,
	"textureStreamingEnabled": false,
	"aAMode": 1,
	"aAQuality": 0,
	"shadowQuality": 0,
	"dynamicShadowQuality": 0,
	"effectsQuality": 0,
	"pPQuality": 0,
	"foliageQuality": 0,
	"resolutionQuality": 100,
	"colorStrength": 5,
	"colorTint": 5,
	"fog": true,
	"atmospherics": true,
	"landscapeShadows": true,
	"worldContrast": 5,
	"skyFade": 5,
	"vignette": 10,
	"lightbouncePower": 2,
	"aOStrength": 10,
	"staticAO": true,
	"detailOcclusion": true,
	"lensFlareIntensity": 10,
	"lensFlare": true,
	"bloom": true,
	"exposureAmount": 8,
	"motionBlur": true,
	"killAberration": true,
	"masterVolume": 8,
	"musicVolumeMenu": 0,
	"musicVolumeGame": 0,
	"ambientVolume": 10,
	"enableVoiceChat": true,
	"voiceVolume": 6,
	"micVolume": 5,
	"panningMode": "Headphones",
	"playerShoutVolume": 0,
	"playerRecieveVolume": 0,
	"playerChatMicVolume": 0,
	"soundWhenBackgrounded": false,
	"teamVoiceChat": false,
	"voiceChatMode": 0,
	"mouseSensitivity": 1.75,
	"mouseADSSensitivity": 1,
	"mouseFOVScale": true,
	"mouseSeperateScopedSensitivityEnabled": false,
	"mouseSeperateScopedSensitivity": 5,
	"mouseInvertLook": false,
	"mouseAcceleration": false,
	"mouseAccelerationAmount": 1,
	"controllerHorizontalSensitivity": 1,
	"controllerVerticalSensitivity": 1,
	"controllerInvertHorizontal": true,
	"controllerInvertVertical": true,
	"controllerVibration": true,
	"controllerSwapSticks": true,
	"controllerAimTechnique": 0,
	"skipKillCam": false,
	"autoSubscribeOnDownload": false,
	"hudScale": 1,
	"mapScale": 1,
	"topBarScale": 1,
	"showHUD": true,
	"showKillFeed": true,
	"showMiniMap": true,
	"miniMapZoomAmount": 1,
	"showChat": true,
	"showKillInfoPanel": true,
	"showCrosshair": true,
	"showGameStatus": true,
	"showInteraction": true,
	"showInventory": true,
	"showScoreAward": true,
	"showScreenEffects": true,
	"showGrenadeIcon": true,
	"showVault": true,
	"showGameTimer": true,
	"showPickup": true,
	"showMarkers": true,
	"showDistanceOnMarker": false,
	"showBombGameOverview": true,
	"showBombGameOverviewAvatars": true,
	"showArcadeScores": true,
	"showInventoryWeapons": true,
	"showWartideTokenCount": true,
	"showFps": true,
	"showNetworkStatusIcons": true,
	"showTips": false,
	"enableDevConsole": false,
	"sniperScopeType": 0,
	"fixedWeaponViewModel": false,
	"leftHandedWeaponViewModel": false,
	"headBob": false,
	"sprintZoom": false,
	"fixMapRotation": false,
	"coinPickupScale": 1,
	"showSpectatorHud": true,
	"spectatorMaxSpeed": 1,
	"spectatorAcceleration": 0.75,
	"spectatorDeceleration": 2,
	"spectatorFreeCamRotInterpSpeed": 1,
	"useGlobalWeaponOffsets": true,
	"globalWeaponOffset": [ 5, 2, -2 ],
	"mP40Offset": [ 0, 0, 0 ],
	"sTG44Offset": [ 0, 0, 0 ],
	"kar98Offset": [ 0, 0, 0 ],
	"scopedKar98Offset": [ 0, 0, 0 ],
	"gewehr43Offset": [],
	"lugerOffset": [ 0, 0, 0 ],
	"shotgunOffset": [ 0, 0, 0 ],
	"thompsonOffset": [ 0, 0, 0 ],
	"bAROffset": [ 0, 0, 0 ],
	"m1GarandOffset": [ 0, 0, 0 ],
	"m1CarbineOffset": [ 0, 0, 0 ],
	"springfieldOffset": [ 0, 0, 0 ],
	"m1911Offset": [ 0, 0, 0 ],
	"mP28Offset": [ 0, 0, 0 ],
	"greaseGunOffset": [ 0, 0, 0 ],
	"pPSH41Offset": [],
	"mosinNagantOffset": [],
	"scopedMosinNagantOffset": [],
	"baikal21Offset": [],
	"fedorovAvtomatOffset": [],
	"sVT40Offset": [],
	"tT33Offset": [],
	"pPS43Offset": [],
	"axisBinds": [
		{"name":"MoveForward","keys":["E","None","Gamepad_LeftY"],"scale":1},
		{"name":"MoveForward","keys":["D","None","None"],"scale":-1},
		{"name":"MoveRight","keys":["S","None","None"],"scale":-1},
		{"name":"MoveRight","keys":["F","None","Gamepad_LeftX"],"scale":1},
		{"name":"MoveUp","keys":["SpaceBar","None","None"],"scale":-1},
		{"name":"MoveUp","keys":["LeftControl","None","None"],"scale":1},
		{"name":"Turn","keys":["MouseX","None","Gamepad_RightX"],"scale":1},
		{"name":"LookUp","keys":["MouseY","None","None"],"scale":-1},
		{"name":"LookUp","keys":["None","None","Gamepad_RightY"],"scale":1},
		{"name":"CursorUp","keys":["Gamepad_LeftY","None","None"],"scale":-1},
		{"name":"CursorUp","keys":["None","None","None"],"scale":1},
		{"name":"CursorUp","keys":["None","None","None"],"scale":-1},
		{"name":"CursorRight","keys":["Gamepad_LeftX","None","None"],"scale":1},
		{"name":"CursorRight","keys":["None","None","None"],"scale":1},
		{"name":"CursorRight","keys":["A","None","None"],"scale":-1}
	],
	"actionBinds": [
		{"name":"CursorClick","keys":["Gamepad_FaceButton_Bottom","None","None"]},
		{"name":"MenuAltInteract","keys":["RightCmd","None","None"]},
		{"name":"Run","keys":["LeftShift","None","None"]},
		{"name":"RunToggle","keys":["None","Gamepad_LeftThumbstick","None"]},
		{"name":"Jump","keys":["SpaceBar","None","Gamepad_FaceButton_Bottom"]},
		{"name":"CrouchToggle","keys":["V","None","Gamepad_FaceButton_Right"]},
		{"name":"CrouchHold","keys":["None","None","None"]},
		{"name":"ProneHold","keys":["None","None","None"]},
		{"name":"ProneToggle","keys":["LeftControl","None","Gamepad_RightThumbstick"]},
		{"name":"LeanLeft","keys":["CapsLock","None","None"]},
		{"name":"LeanRight","keys":["ThumbMouseButton","None","None"]},
		{"name":"Fire","keys":["LeftMouseButton","None","Gamepad_RightTriggerAxis"]},
		{"name":"Targeting","keys":["RightMouseButton","None","Gamepad_LeftTriggerAxis"]},
		{"name":"TargetingToggle","keys":["None","None","None"]},
		{"name":"Reload","keys":["T","None","Gamepad_FaceButton_Left"]},
		{"name":"LethalGrenade","keys":["Q","None","Gamepad_RightShoulder"]},
		{"name":"SpecialGrenade","keys":["MiddleMouseButton","None","Gamepad_LeftShoulder"]},
		{"name":"NextWeapon","keys":["One","Two","MouseScrollUp"]},
		{"name":"PrevWeapon","keys":["MouseScrollDown","None","Gamepad_FaceButton_Top"]},
		{"name":"MeleeAttack","keys":["None","None","None"]},
		{"name":"Use","keys":["G","None","None"]},
		{"name":"DropBomb","keys":["H","None","None"]},
		{"name":"Inspect","keys":["I","None","None"]},
		{"name":"Scoreboard","keys":["Tab","None","None"]},
		{"name":"ScoreboardPageUp","keys":["PageUp","None","None"]},
		{"name":"ScoreboardPageDown","keys":["PageDown","None","None"]},
		{"name":"InGameMenu","keys":["Escape","Global_Menu","Global_Pause"]},
		{"name":"ReadyUp","keys":["F1","None","None"]},
		{"name":"SettingsReview","keys":["Backspace","None","None"]},
		{"name":"TeamSelection","keys":["M","None","None"]},
		{"name":"LoadoutSelection","keys":["B","L","None"]},
		{"name":"GlobalChat","keys":["Enter","None","None"]},
		{"name":"TeamChat","keys":["Y","None","None"]},
		{"name":"GroupChat","keys":["U","None","None"]},
		{"name":"VoiceChat","keys":["W","None","None"]},
		{"name":"MenuBack","keys":["Escape","None","None"]},
		{"name":"ConsoleKey","keys":["Tilde","None","None"]},
		{"name":"VoteYes","keys":["F2","None","None"]},
		{"name":"VoteNo","keys":["F3","None","None"]},
		{"name":"ToggleRecordReplay","keys":["F4","None","None"]},
		{"name":"ToggleReplayUI","keys":["LeftBracket","None","None"]},
		{"name":"ToggleXray","keys":["X","None","None"]},
		{"name":"ToggleGrenadeLines","keys":["J","None","None"]},
		{"name":"ToggleAutoCam","keys":["O","None","None"]},
		{"name":"ToggleOverviewMap","keys":["N","None","None"]},
		{"name":"ToggleVisionLines","keys":["K","None","None"]},
		{"name":"ToggleXrayPlayernames","keys":["P","None","None"]},
		{"name":"FollowGrenade","keys":["Z","None","None"]},
		{"name":"BuyGrenade","keys":["Up","None","None"]},
		{"name":"BuySpecialGrenade","keys":["Right","None","None"]}
	],
}
