{
	"version": 23,
	"resolution": "1280x800",
	"displayMode": 0,
	"vsync": false,
	"aspectRatio": "",
	"fOV": 105,
	"showStats": false,
	"showClock": false,
	"fps": 145,
	"gamma": 2,
	"contrast": 0,
	"brightness": 0,
	"colourBlindMode": 0,
	"displayIndex": 1,
	"useForwardRenderer": false,
	"textureQuality": 0,
	"textureStreamingEnabled": true,
	"aAMode": 1,
	"aAQuality": 0,
	"shadowQuality": 3,
	"dynamicShadowQuality": 0,
	"effectsQuality": 0,
	"pPQuality": 1,
	"foliageQuality": 0,
	"resolutionQuality": 100,
	"colorStrength": 2.4000000953674316,
	"colorTint": 5,
	"fog": false,
	"atmospherics": false,
	"landscapeShadows": false,
	"worldContrast": 0,
	"skyFade": 10,
	"vignette": 0,
	"lightbouncePower": 5.940000057220459,
	"aOStrength": 4.2300000190734863,
	"staticAO": true,
	"detailOcclusion": false,
	"lensFlareIntensity": 0,
	"lensFlare": false,
	"bloom": false,
	"exposureAmount": 0,
	"motionBlur": false,
	"killAberration": false,
	"masterVolume": 5.5,
	"musicVolumeMenu": 0,
	"musicVolumeGame": 0,
	"musicVolumeRoundResult": 0,
	"ambientVolume": 0,
	"enableVoiceChat": true,
	"voiceVolume": 8,
	"micVolume": 6,
	"audioOutputDevice": "Headphones",
	"playerShoutVolume": 0,
	"playerRecieveVolume": 0,
	"playerChatMicVolume": 0,
	"soundWhenBackgrounded": false,
	"teamVoiceChat": false,
	"voiceChatMode": 0,
	"voiceInputDevice": "{0.0.1.00000000}.{3f0d0d48-f1ad-4ac5-8a7f-f671577bcf56}",
	"voiceOutputDevice": "{0.0.0.00000000}.{04ba3fe8-f5b5-4337-8154-c0c5d6f1422b}",
	"enableWartideVoiceLines": false,
	"enableFoleySounds": false,
	"mouseSensitivity": 1.2100000381469727,
	"mouseADSSensitivity": 1,
	"mouseFOVScale": true,
	"mouseSeperateScopedSensitivityEnabled": false,
	"mouseSeperateScopedSensitivity": 5,
	"mouseInvertLook": false,
	"mouseAcceleration": false,
	"mouseAccelerationAmount": 1,
	"controllerHorizontalSensitivity": 1,
	"controllerVerticalSensitivity": 1,
	"controllerInvertHorizontal": true,
	"controllerInvertVertical": true,
	"controllerVibration": true,
	"controllerSwapSticks": true,
	"controllerAimTechnique": 0,
	"skipKillCam": true,
	"autoSubscribeOnDownload": false,
	"hudScale": 1,
	"mapScale": 1,
	"topBarScale": 1,
	"chatScale": 1,
	"worldMarkerScale": 1,
	"showHUD": true,
	"showTopBar": true,
	"showKillFeed": true,
	"showMiniMap": true,
	"miniMapZoomAmount": 0,
	"showChat": true,
	"showVoiceFeed": true,
	"showKillInfoPanel": true,
	"showCrosshair": true,
	"showPlayerNames": true,
	"showGameStatus": true,
	"showInteraction": true,
	"showInventory": true,
	"showScoreAward": true,
	"showScreenEffects": true,
	"showGrenadeIcon": true,
	"showVault": true,
	"showGameTimer": true,
	"showPickup": true,
	"showMarkers": true,
	"showDistanceOnMarker": false,
	"showBombGameOverviewAvatars": false,
	"showInventoryWeapons": true,
	"showWartideTokenCount": true,
	"showPlayerRanking": true,
	"showFps": false,
	"showNetworkStatusIcons": true,
	"showMedalAwards": false,
	"showTips": true,
	"enableDevConsole": false,
	"sniperScopeType": 480,
	"fixedWeaponViewModel": false,
	"leftHandedWeaponViewModel": false,
	"headBob": false,
	"sprintZoom": false,
	"fixMapRotation": false,
	"coinPickupScale": 1,
	"showSpectatorHud": true,
	"showBuyPhaseAnimation": true,
	"spectatorMaxSpeed": 1,
	"spectatorAcceleration": 0.75,
	"spectatorDeceleration": 2,
	"spectatorFreeCamRotInterpSpeed": 1,
	"useGlobalWeaponOffsets": true,
	"globalWeaponOffset": [ 5, -2, 0 ],
	"mP40Offset": [ 0, 0, 0 ],
	"sTG44Offset": [ 0, 0, 0 ],
	"kar98Offset": [ 0, 0, 0 ],
	"scopedKar98Offset": [ 0, 0, 0 ],
	"gewehr43Offset": [ 0, 0, 0 ],
	"lugerOffset": [ 0, 0, 0 ],
	"shotgunOffset": [ 0, 0, 0 ],
	"thompsonOffset": [ 0, 0, 0 ],
	"bAROffset": [ 0, 0, 0 ],
	"m1GarandOffset": [ 0, 0, 0 ],
	"m1CarbineOffset": [ 0, 0, 0 ],
	"springfieldOffset": [ 0, 0, 0 ],
	"m1911Offset": [ 0, 0, 0 ],
	"mP28Offset": [ 0, 0, 0 ],
	"greaseGunOffset": [ 0, 0, 0 ],
	"pPSH41Offset": [ 0, 0, 0 ],
	"mosinNagantOffset": [ 0, 0, 0 ],
	"scopedMosinNagantOffset": [ 0, 0, 0 ],
	"baikal21Offset": [ 0, 0, 0 ],
	"fedorovAvtomatOffset": [ 0, 0, 0 ],
	"sVT40Offset": [ 0, 0, 0 ],
	"tT33Offset": [ 0, 0, 0 ],
	"pPS43Offset": [ 0, 0, 0 ],
	"axisBinds": [
		{"name":"MoveForward","keys":["E","None","Gamepad_LeftY"],"scale":1},
		{"name":"MoveForward","keys":["D","None","None"],"scale":-1},
		{"name":"MoveRight","keys":["S","None","None"],"scale":-1},
		{"name":"MoveRight","keys":["F","None","Gamepad_LeftX"],"scale":1},
		{"name":"MoveUp","keys":["SpaceBar","None","None"],"scale":-1},
		{"name":"MoveUp","keys":["LeftControl","None","None"],"scale":1},
		{"name":"Turn","keys":["MouseX","None","Gamepad_RightX"],"scale":1},
		{"name":"LookUp","keys":["MouseY","None","None"],"scale":-1},
		{"name":"LookUp","keys":["None","None","Gamepad_RightY"],"scale":1},
		{"name":"CursorUp","keys":["Gamepad_LeftY","None","None"],"scale":-1},
		{"name":"CursorUp","keys":["None","None","None"],"scale":1},
		{"name":"CursorUp","keys":["None","None","None"],"scale":-1},
		{"name":"CursorRight","keys":["Gamepad_LeftX","None","None"],"scale":1},
		{"name":"CursorRight","keys":["None","None","None"],"scale":1},
		{"name":"CursorRight","keys":["A","None","None"],"scale":-1}
	],
	"actionBinds": [
		{"name":"CursorClick","keys":["Gamepad_FaceButton_Bottom","None","None"]},
		{"name":"MenuAltInteract","keys":["RightCmd","None","None"]},
		{"name":"Run","keys":["None","None","None"]},
		{"name":"RunToggle","keys":["LeftShift","Gamepad_LeftThumbstick","None"]},
		{"name":"Jump","keys":["SpaceBar","MouseScrollDown","Gamepad_FaceButton_Bottom"]},
		{"name":"CrouchToggle","keys":["V","None","Gamepad_FaceButton_Right"]},
		{"name":"CrouchHold","keys":["None","None","None"]},
		{"name":"ProneHold","keys":["None","None","None"]},
		{"name":"ProneToggle","keys":["LeftControl","None","Gamepad_RightThumbstick"]},
		{"name":"LeanLeft","keys":["CapsLock","None","None"]},
		{"name":"LeanRight","keys":["ThumbMouseButton","None","None"]},
		{"name":"Fire","keys":["LeftMouseButton","None","Gamepad_RightTriggerAxis"]},
		{"name":"Targeting","keys":["RightMouseButton","None","Gamepad_LeftTriggerAxis"]},
		{"name":"TargetingToggle","keys":["None","None","None"]},
		{"name":"Reload","keys":["R","None","Gamepad_FaceButton_Left"]},
		{"name":"LethalGrenade","keys":["MiddleMouseButton","None","Gamepad_RightShoulder"]},
		{"name":"SpecialGrenade","keys":["G","None","Gamepad_LeftShoulder"]},
		{"name":"NextWeapon","keys":["Q","Two","None"]},
		{"name":"PrevWeapon","keys":["None","None","Gamepad_FaceButton_Top"]},
		{"name":"MeleeAttack","keys":["W","None","None"]},
		{"name":"Use","keys":["T","None","None"]},
		{"name":"DropBomb","keys":["H","None","None"]},
		{"name":"Inspect","keys":["I","None","None"]},
		{"name":"Scoreboard","keys":["Tab","None","None"]},
		{"name":"ScoreboardPageUp","keys":["PageUp","None","None"]},
		{"name":"ScoreboardPageDown","keys":["PageDown","None","None"]},
		{"name":"InGameMenu","keys":["Escape","Global_Menu","Global_Pause"]},
		{"name":"ReadyUp","keys":["F1","None","None"]},
		{"name":"SettingsReview","keys":["Backspace","None","None"]},
		{"name":"TeamSelection","keys":["M","None","None"]},
		{"name":"LoadoutSelection","keys":["B","L","None"]},
		{"name":"GlobalChat","keys":["Enter","None","None"]},
		{"name":"TeamChat","keys":["Backslash","None","None"]},
		{"name":"VoiceChat","keys":["Y","None","None"]},
		{"name":"MenuBack","keys":["Escape","None","None"]},
		{"name":"ConsoleKey","keys":["Up","None","None"]},
		{"name":"VoteYes","keys":["F2","None","None"]},
		{"name":"VoteNo","keys":["F3","None","None"]},
		{"name":"ToggleReplayUI","keys":["LeftBracket","None","None"]},
		{"name":"ToggleXray","keys":["X","None","None"]},
		{"name":"ToggleGrenadeLines","keys":["J","None","None"]},
		{"name":"ToggleAutoCam","keys":["O","None","None"]},
		{"name":"ToggleOverviewMap","keys":["N","None","None"]},
		{"name":"ToggleVisionLines","keys":["K","None","None"]},
		{"name":"ToggleXrayPlayernames","keys":["P","None","None"]},
		{"name":"FollowGrenade","keys":["Z","None","None"]},
		{"name":"ToggleHUD","keys":["RightBracket","None","None"]}
	],
	"matchmakingRegion": "87251342-21f2-11e8-b3a6-0242ac110003",
	"streamerModeEnabled": false
}
